// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary, .skills {
	> .title {
		font-weight: bold;
		display: inline-block;
		width:6em;
	}

	> .content {
		padding-left: 1.5em;
	}

	td {
		padding:0.2em 1em;
	}
}

.heading .name {
	font-weight:bold;
	font-size:2em;
}
.experience {
	> .title {
		font-weight: bold;
	}

	.header {
		> span {
			padding-right:0.5em;
		}

		> .dates,
		> .title,
		> .company,
		> .location {
			font-style:italic;
		}
	}
	> .entry {
		padding-left:1.5em
	}
}

.education {
	> .title {
		font-weight: bold;
	}
	.entry {
		padding-left: 1.5em;
		.name {
			font-style: italic;
		}
	}
}
